<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      All-Treatments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-scrollbar">
  <ion-list>
    <ion-item lines="full" detail routerLink="allergy">
      <ion-label>
        Allergy & Immunology
      </ion-label>
    </ion-item>
    <ion-item lines="full" detail routerLink="anesthesiology">
      <ion-label>
        Anesthesiology & Critical Care Medicine
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="biochemistry">
      <ion-label>
        Biochemistry
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="cardiology">
      <ion-label>
        Cardiology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="cosmetic">
      <ion-label>
        Cosmetic & Plastic Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="dental">
      <ion-label>
        Dental / Dental Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="dermatology">
      <ion-label>
        Dermatology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="endocrinology">
      <ion-label>
        Endocrinology & Diabetology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="ent">
      <ion-label>
        ENT / Otolaryngology Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="gastroenterology">
      <ion-label>
        Gastroenterology / Digestive System
      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="general">
      <ion-label>
        General Medicine / Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="geriatric">
      <ion-label>
        Geriatric Medicine
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="gynecology">
      <ion-label>
        Gynecology & Obstetrics
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="heamatology">
      <ion-label>
        Heamatology / Blood Disorders
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="hepatology">
      <ion-label>
        Hepatology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="infectious">
      <ion-label>
        Infectious Diseases
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="internal">
      <ion-label>
        Internal Medicine
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="ivf">
      <ion-label>
        IVF & Fertility
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="joint">
      <ion-label>Joint Relacement Surgery
      </ion-label>
    </ion-item>
      
    <ion-item lines="full" detail routerLink="microbiology">
      <ion-label>
        Microbiology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="neonatology">
      <ion-label>
        Neonatology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="nephrology">
      <ion-label>
        Nephrology / Renal Medicine
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="neurology">
      <ion-label>
        Neurology / Neuro Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="nuclear">
      <ion-label>
        Nuclear Medicine
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="nutrition">
      <ion-label>
        Nutrition & Dietetics
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="obesity">
      <ion-label>
        Obesity / Bariatric Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="oncology">
      <ion-label>
        Oncology / Onco Surgery

      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="opthalmology">
      <ion-label>
        Opthalmology / Eye Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="oral">
      <ion-label>
        Oral & Maxillofacial Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="orthopedics">
      <ion-label>
        Orthopedics & Orthopedic Surgery
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="pathology">
      <ion-label>
        Pathology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="pediatrics">
      <ion-label>
        Pediatrics
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="physiotherapy">
      <ion-label>
        Physiotherapy
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="psychiatry">
      <ion-label>
        psychiatry
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="pulmonology">
      <ion-label>
        Pulmonology
      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="radiology">
      <ion-label>
        Radiology

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="rheumatology">
      <ion-label>
        Rheumatology

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="robotics">
      <ion-label>
        Robotics

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="sexual">
      <ion-label>
        Sexual Diseases

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="spine">
      <ion-label>
        Spine Surgery

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="transplant">
      <ion-label>
        Transplant Surgery

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="urology">
      <ion-label>
        Urology / Uro Surgery

      </ion-label>
    </ion-item>


    <ion-item lines="full" detail routerLink="vascular">
      <ion-label>
        Vascular Surgery

      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="weight">
      <ion-label>
        Weight Loss Surgery


      </ion-label>
    </ion-item>

    <ion-item lines="full" detail routerLink="wellness">
      <ion-label>
        Wellness & Ayurveda

      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
