<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>hospital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hospital</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item lines="full" detail routerLink="bangladesh">
      <ion-label>
        Bangladesh
      </ion-label>
    </ion-item>
  
    <ion-item lines="full" detail routerLink="brazil">
      <ion-label>
        Brazil 
      </ion-label>
    </ion-item>
  
    <ion-item lines="full" detail routerLink="canada">
      <ion-label>
        Canada
      </ion-label>
    </ion-item>

  <ion-item lines="full" detail routerLink="czechrepublic">
    <ion-label>
      Czech Republic
    </ion-label>
  </ion-item>
  

  <ion-item lines="full" detail routerLink="egypt">
    <ion-label>
      Egypt
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="france">
    <ion-label>
      France
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="germany">
    <ion-label>
      Germany
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="hungary">
    <ion-label>
      Hungary
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="india">
    <ion-label>
      India
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="indonesia">
    <ion-label>
      Indonesia
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="iran">
    <ion-label>
      Iran
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="italy">
    <ion-label>
      Italy
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="japan">
    <ion-label>
      Japan
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="koreasouth">
    <ion-label>
      Korea South
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="malaysia">
    <ion-label>
      Malaysia
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="mexico">
    <ion-label>
      Mexico
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="singapore">
    <ion-label>
      Singapore
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="southafrica">
    <ion-label>
      South Africa
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="spain">
    <ion-label>
      spain
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="srilanka">
    <ion-label>
      Srilanka
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="taiwan">
    <ion-label>
      Taiwan
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="thailand">
    <ion-label>
      Thailand
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="turkey">
    <ion-label>
      Turkey
    </ion-label>
  </ion-item>

  <ion-item lines="full" detail routerLink="unitedkingdom">
    <ion-label>
      United Kingdom
    </ion-label>
  </ion-item>
  
  <ion-item lines="full" detail routerLink="unitedarabemirates">
    <ion-label>
      United Arab Emirates
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
