<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>allergy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">allergy</ion-title>
    </ion-toolbar>
  </ion-header>

  <br><br>

  <div class="search-container">
    <ion-searchbar show-clear-button="focus" value="" placeholder="Treatments" class="first"></ion-searchbar>
    <ion-searchbar show-clear-button="focus" value="" placeholder="Hospitals"></ion-searchbar>
  </div>
  <div class="img-wrap">
    <div class="image-container" id="main">
    <div class="circle"></div>
    <ion-img src="../../../assets/alergy immunlogy.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </div>
  </div>

  <p>Allergy and immunology are the areas of medicine dedicated to the care and treatment of health concerns and conditions of the immune system. This includes allergic diseases and related symptoms and reactions — from asthma, rhinitis, sinus problems, or seasonal allergies to life-threatening reactions to drugs, food, vaccines, and more. Allergy and immunology cover the hundreds of immune diseases affecting millions.</p>
</ion-content>
