  ion-list {
    margin-top: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  